name: GitHub-Profile-Summary-Cards

on:
  schedule: # 每天早上 8 點自動更新
    - cron: "0 0 * * *"
  workflow_dispatch: # 讓你也可以手動按按鈕觸發

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write
      
    steps:
      - uses: actions/checkout@v2
      
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
